h1{
    color:brown;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
nav{
    background:chocolate;
}
nav ul{
    list-style:  none;
    display:flex;
    justify-content: center;;
}
nav ul li{
    padding:10px;
    color:white;
    cursor:pointer;
}
nav ul li:hover{
    background:coral;
}
img{
    max-width:100%;
}
p{
    display:block;
    margin:0 auto;
    width:80%;
}