h1{
    color:brown;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-weight:bold;
}
nav{
    background:chocolate;
}
nav ul{
    list-style:  none;
    display:flex;
    justify-content: center;;
}
nav ul li{
    padding:10px;
    color:white;
    cursor:pointer;
}
nav ul li:hover{
    background:coral;
}
img{
    display:block;
    max-width:250px;
    border-radius:50%;
    margin:0 auto;
}
p{
    display:block;
    margin:0 auto;
    width:80%;
}
footer{
    background:blue;
    color:white;
    padding:20px;
    text-align: center;
    margin-top:20px;
    font-size:12px;
}
footer img{
    border-radius:0px;
}